# ── Generated databases / outputs ───────────────────────

database/
interpro_temp/

# ── Snakemake internals ─────────────────────────────────

.snakemake/
.tmp/

# ── Environment files ───────────────────────────────────

.env

# ── Logs ────────────────────────────────────────────────

logs/
*.log

# ── Python cache ────────────────────────────────────────

__pycache__/
*.pyc

# ── Frontend ────────────────────────────────────────────

bin/frontend/node_modules/
bin/frontend/dist/
bin/frontend/.vite/


# ── External Software ────────────────────────────────────────────
bin/external_software/*

# ── IDE ─────────────────────────────────────────────────

.vscode/
.idea/

# ── OS junk ─────────────────────────────────────────────

.DS_Store
Thumbs.db


y
y.pub